*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.templet{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)) ,url(Home.jpg);
    background-size: cover;
    background-position: center ;
}

.logo{
    width: 120px;
    cursor: pointer;
}


.navbar{
    margin: 0px;
    display: flex;
    float: right;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}
.content p{
font-weight: 100;
line-height: 25px;
font-family: sans-serif;
margin: 20px auto;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    color: #fff;
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    position: relative;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}

button:hover{
    border: none;
}